**/.next/
**/node_modules/
**/tsconfig.tsbuildinfo
**/*.log
**/.install_state*.json
**/__pycache__/
**/prisma/*.db
**/*.zip
local-runtime/
tooling/licensing/dev-private-key.pem

out/tmp/*
out/archive/*
