# Development defaults
NEXT_PUBLIC_API_BASE_URL=http://127.0.0.1:3100
NEXT_PUBLIC_FORMS_APP_URL=http://127.0.0.1:3200
FORMS_ENGINE_API_BASE_URL=http://127.0.0.1:3100

# Production defaults
# NEXT_PUBLIC_API_BASE_URL=https://engine.hitechrts.com
# NEXT_PUBLIC_FORMS_APP_URL=https://forms.hitechrts.com
# FORMS_ENGINE_API_BASE_URL=https://engine.hitechrts.com
